[
  {
    "ParameterKey": "KeyName",
    "ParameterValue": ""
  },
  {
    "ParameterKey": "HostedZoneName",
    "ParameterValue": ""
  },
  {
    "ParameterKey": "SubDomain",
    "ParameterValue": "jenkins"
  }
]